.footerCont {
  background-color: #0f3460;
  width: 100%;
}
footer {
  padding: 20px 0;
  color: #fff;
}
.footer {
  color: white;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
}

footer h1 {
  margin-bottom: 30px;
  color: #e94560;
  font-weight: 800;
  font-style: italic;
}
footer .img {
  background-color: #0c2a4d;
  padding: 10px 15px;
  width: auto;
  border-radius: 5px;
}
footer .img:hover {
  cursor: pointer;
}
footer .img i {
  font-size: 20px;
  margin: 5px;
}
footer .img span {
  margin-top: 5px;
}
footer p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 20px;
}
.footerRow {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer h2 {
  margin-bottom: 20px;
}
footer li {
  margin-bottom: 10px;
  opacity: 0.5;
  list-style: none;
}
.footer-main-links {
  text-decoration: none;
  color: #ffefba;
  transition: transform 0.2s;
}
.footer-main-links :hover {
  color: #e98337;
  cursor: pointer;
}
.footer-main-links :active {
  color: #ececec;
  cursor: pointer;
  transition: transform 0.3s;
}
.footerUl {
  width: 100%;
  text-align: center;
  padding: 0px;
}
.footerDownload {
  border-bottom: 2px #e98337 dotted;
  padding-bottom: 8px;
}
.footerUlTitle {
  border-bottom: 2px #e98337 solid;
  border-radius: 60%;
}

.social-links {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}
.social-links a {
  font-size: 28px;
  display: inline-block;
  background: #e98337;
  color: #fff;
  line-height: 1;
  padding: 6px 0 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 46px;
  height: 46px;
  transition: 0.3s;
  margin: 0px 5px;
  padding: auto;
}
.social-links a:hover {
  color: #fff;
  transform: scale(1.1);
}
.social-links a:active {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3) inset;
  transform: translateY(2px);
  background: linear-gradient(to bottom, #f7a96e 10%, #ff6f00 100%);
}
