/* Contact Section
--------------------------------*/
#contact {
  background: #fff;
  margin-top: 100px;
  margin-bottom: 20px;
}
#contact .info {
  color: #222;
}
#contact .info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
}
#contact .info > div {
  display: flex;
}
#contact .info .email p {
  padding-top: 5px;
}
#contact .social-links {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}
#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: linear-gradient(to bottom, #f37718 60%, #f7a96e 90%);
  color: #fff;
  line-height: 1;
  padding: 6px 0 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin: 0px 4px;
}
#contact .social-links a:hover {
  /* background: linear-gradient(to bottom, #f37718 60%, #f7a96e 90%);  */
  color: #fff;
  transform: scale(1.1);
}
#contact .social-links a:active {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3) inset;
  transform: translateY(2px);
  background: linear-gradient(to bottom, #f7a96e 10%, #ff6f00 100%);
}
#contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
#contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
#contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #e98337;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
#contact .php-email-form {
  transition: transform 0.3s;
}

#contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #e98337;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
#contact .php-email-form input,
#contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
#contact .php-email-form input:focus,
#contact .php-email-form textarea:focus {
  border-color: #e98337;
}
#contact .php-email-form input {
  padding: 10px 15px;
}
#contact .php-email-form textarea {
  padding: 12px 15px;
}
#contact .php-email-form button[type="submit"] {
  background: linear-gradient(to bottom, #f7a96e 10%, #ff6f00 100%);
  border: 0;
  font-weight: bold;
  border-radius: 10px;
  padding: 4px 24px;
  color: #fff;
  transition: 0.4s;
}
#contact .php-email-form button[type="submit"]:active {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3) inset;
  transform: translateY(2px);
  background: linear-gradient(to bottom, #f7a96e 60%, #f37718 90%);
}

#contact .php-email-form button[type="submit"]:hover {
  transform: scale(1.1);
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
