.innerContFirst {
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerContFirst .sectionTitleIcon {
  width: 60px;
  margin-right: 10px;
}

.innerContFirst .sectionTitleName {
  border-bottom: #0c2a4d 3px solid;
  font-size: 32px;
  margin: 0px;
}

.innerContSecond {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textViewAll {
  color: #e94560;
}

/*---------media query-----------*/
@media screen and (max-width: 992px) {
  .innerContFirst .sectionTitleIcon {
    width: 50px;
    margin-right: 8px;
  }
  .innerContFirst .sectionTitleName {
    font-size: 25px;
    margin: 0px;
  }
}

@media screen and (max-width: 480px) {
  .innerContFirst .sectionTitleIcon {
    width: 30px;
    margin-right: 5px;
  }

  .innerContFirst .sectionTitleName {
    border-bottom: #0c2a4d 2px solid;
    font-size: 22px;
    margin: 0px;
  }
}
