/* sidebar css */
.sidebarAll {
  box-shadow: rgba(41, 47, 60, 0.1) 0px 4px 16px;
  background-color: #fff;
  width: 100%;
  border-radius: 8px;
}

.boxAll {
  padding-left: 8px;
  display: flex;
  align-items: center;
}
.boxAll:hover {
  background-color: #ffefba;
  border-radius: 8px;
}
.sidebarAll img {
  width: 30px;
  height: 30px;
}
.sidebarAll .sideBarLinks {
  text-decoration: none;
}
.sidebarAll span {
  margin: 8px 1px 8px 20px;
  text-transform: capitalize;
  color: rgb(44, 44, 44);
}
.innerBadgeBoxAll {
  display: flex;
  text-decoration: none;
}
.countBadge {
  padding: 0px;
  width: 17px;
  height: 17px;
  background-color: #ff4d4f;
  border-radius: 50%;
  margin-top: -0px;
  color: #faf6f6;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
}
