.categoriesBtn {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  width: 100%;
  color: #ffffff;
  background: #e98337;
  margin-bottom: 5px;
  border-radius: 13px;
  border: none;
  outline: none;
}

.categoriesBtn:hover {
  background: linear-gradient(to bottom, #f59144 20%, #ffb780 90%);
  color: #ffffff;
}

.categoriesBtn:active {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3) inset;
  transform: translateY(2px);
  background: linear-gradient(to bottom, #f7a96e 10%, #ff6f00 100%);
}
