
.wrapper .img {
  margin: auto;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin-bottom: 20px;
}
.wrapper .img i {
  font-size: 25px;
}
.icon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  border: 1px solid #e27d2f;
  background-color: #ffffff;
}
.wrapper .showCordCont {
  padding: 30px;
  background: #f8f9fa;
  border-radius: 5%;
  transition: transform 0.4s;
}
.wrapper .showCordCont:hover {
  background: #f4f5f7;

 cursor: pointer;
 transform: scale(1.1);
}
.wrapper .showCordCont h3 {
  font-weight: 380;
  text-align: center;
}
.wrapper p {
  font-size: 15px;
  margin-top: 20px;
  color: grey;
  text-align: center;
}


