.menuBtn {
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.menuBtn:hover {
  background-color: #ffefba;
}
.list-group-item {
  color: rgb(24, 23, 23);
  border: 1px #dee2e6 solid;
}

.list-group-item.active {
  box-shadow: none;
  border: 1px #dee2e6 solid;
  color: rgb(24, 23, 23);
  background-color: #ffefba;
}
